:root {
  --primary-font-family: "Josefin Sans", serif;
  --primary-color: #ffefd5;
}

body {
  text-align: center;
  font-family: var(--primary-font-family);
}

h1 {
  font-weight: bold;
  font-size: 60px;
}

h4 {
  font-style: italic;
  font-size: 22px;
  line-height: 1.7;
}

p {
  padding-top: 15px;
}

i {
  size: 20px;
  margin-bottom: 40px;
}

.hero-page {
  padding: 80px;
  background-color: var(--primary-color);
}

.btn-brand-color {
  background: #4b0082;
  color: #ffffff;
  padding: 5px 25px;
  margin-top: 15px;
}

.btn-brand-color:hover {
  border-color: #4b0082;
}

.footer {
  background-color: var(--primary-color);
  margin-top: 80px;
}

.signature {
  font-size: 13px;
  opacity: 70%;
}
